/*para hacer el reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div{
    border: 1px solid black;
    height: 10rem;
    width: 10rem;
  /*   margin: 2rem; */
  }
  
  #relativo{
    position: relative /* Por defecto es static */;
  
    /* Relative desplaza el elemento en relación a su posición original */
    /* Se mantiene su espacio original */
  
    background-color: lightblue;
    bottom: 5rem;
    left: 5rem;
  }
  
  #relativo p{
    position: relative;
    top:-3rem;
  }
  
  
  #absoluto{
    background-color: lightcoral;
    position: absolute;
  
    /* Absolute coloca el elemento en relación al viewport por defecto */
    /* Si alguno de sus antecesores tiene position distinta de static es en relación a él */
  
  /* En general, si el elemento tiene medidas, ganan top y left */
  /* Si no tiene dimensiones, cumple las 4 estirando el elemento */
    top: 0;
    left: 25rem;
    right: 2rem;
    bottom: -3rem;
  
  }
  
  #absoluto p{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  #fijo{
    position: fixed;
  
    /* Funciona como absolute, excepto porque se queda en el mismo sitio al hacer scroll (no se mueve con la página) */
  
    bottom: 3rem;
    left: 10rem;
  
  
    background-color: lightgoldenrodyellow;
  }
  
  
  #sticky{
    background-color: lightpink;
    position: sticky;
  
    /* Sticky se mantendrá en su posición original pero manteniendo siempre la distancia indicada con los bordes. Si se tiene que mover, se mueve */
  
    top: 0;
    left: 1rem;
  }
  
  
  
  /* Cuando queremos posicionar un hijo absolutamente respecto a su padre, sin mover el padre, podemos darle position:relative al padre */
  
  #ej{
    position: relative;
  }
  
  #ej p{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  