
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


div.wapper{
    
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    position:relative;

}

div.wapper div{
    width: 50%;
    height: 50%;
    position: absolute;

    transition: transform 1s;
}


div.topleft{
    top: 0;
    left: 0;
    background-color: red;
    transform-origin: top left;
}


 div.topright{
    top: 0;
    right: 0;
    background-color: yellow;
    transform-origin: top right;
}


div.bottomleft{
    bottom: 0;
    left: 0;
    background-color: blue;
    transform-origin:bottom left;

    

    }
div.bottomright{
    bottom: 0;
    right: 0;
    background-color: green;
    transform-origin: bottom right;
}
div.wapper:hover .topleft, div.wapper:hover .bottomright{
transform: rotate(90deg);
}
div.wapper:hover .topright, div.wapper:hover .bottomleft{
    transform: rotate(-90deg);

    }