h1 {
    color: blue;
}
ul {
    list-style: circle;
}
/*ID*/
#unico {
    color: red;
}
.importante {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    color: blue;

}

.especial {
    font-style: italic;
    color:blueviolet
}
/*complejos*/
/*por atributo*/

[lang] {
    font-family: sans-serif;
}
[lang="es"] {
    color: brown;

}

:first-child{
    border: 1px solid red;
}
:first-of-type {
    box-shadow: 0 0 5px black;
}

li:hover{
    color: magenta;

    }

p::first-line{
    font-size: 1.2rem;
}

p::first-letter{
    font-size: 3rem;
    font-family: serif;

}
: : section{
    background-color: rebeccapurple;
    color: azure;
}

h1::after{
    content: "😁 a";
    font-size: 1rem;
    color:magenta

}

li::before{
    content: "➡️";
    font-style: normal;
}
/*combinar selectores*/
/*hacerlo mas especifico*/
li:nth-child(3)
{
    text-decoration: line-through;
}
/*descendientes*/
section :first-child{
    color: green;
}
/*hijos directos*/
section > :first-child{
    text-decoration: line-through;
}
h1, ul{
    background-color: lightpink;
}
