div{
    border: 1px solid black;
    height: 15rem;
    width: 15rem;
    margin: 3rem 0;

}
div:nth-child(1){
    /*border:tamaño,estilo,color*/
    border: 3px dotted red;

}

div:nth-child(2){
    border-width: 3px;
    border-style: dotted;
    border-color: red;
}

div:nth-child(3){
    border-top: 2px dashed pink;
    border-right: 5px double blue;
    border-left: 1px solid red;
    border-bottom: 5px dotted magenta;
}
:nth-child(4) {
    border: 3px dashed blue;
    border-bottom: 2px solid magenta;
}
:nth-child(5){
    border-radius: 2rem;
    border: 3px solid blueviolet;
}

:nth-child(6){
    width: 30rem;
    border-radius:25%;
   
}

;:nth-child(7){
    border-radius: 50%;
}

:nth-child(8){
    /* Desplazamiento en x, desplazamientos en Y, difusion,color*/
    box-shadow: 10px -10px 20px black;
    border-bottom-left-radius: 10px;
}
:nth-child(9){
    box-shadow: 0 0 20px rgb(110, 199, 235);
}
:nth-child(10){
    box-shadow: 0 0 20px rgb(110, 199, 235);
}
