body{
    min-height: 100vh;
  }
  
  
  div{
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
  }
  
  main{
    height: 100vh;
    display: flex;
  
    /* Cambiar eje principal: (por defecto row)*/
    flex-direction: row;
  
    /* Decidir si se aplastan o generan filas/columnas nuevas (por defecto nowrap) */
    flex-wrap: wrap;
  
    /* Colocar el contenido en el eje principal SI SOBRA SITIO */
    justify-content: space-around;
  
    /* Colocar contenido en el eje secundario SI SOBRA ESPACIO (por defecto stretch*/
  
    align-content: stretch;
  
    /* Colocar elementos en la fila, SI SOBRA ESPACIO EN LA FILA (por defecto stretch*/
  align-items: center;
  
  
  /* Distancia mínima entre elementos */
  gap: 2rem 1rem
  }
  