p{
    border: 1px solid black;
    width: fit-content;




    
}
#translate p{
    transform: translate(3rem);
    /*horizontal y vertical .
    tambien estan translate (x)es en horizontal y translate (Y)en vertical*/

}

#scale p{
    /* horizontal  vertical*/
    /*si solo pongo una medida, afecta a las dos dimensiones*/
    transform: scale(-0.5, -2);
}

#Rotate p {
    transform: rotate(30deg);
}

#combo p{  
    /* Tenemos que poner todas las transformaciones en la misma regla, porque si no
    se sobreescribe*/
    transform: translate(3rem) scale(1.5) rotate( -10deg);

    /*cambiar el punto  desde donde se transforma. por defecto es center, se puede poner palabras claves: top, bottom,left, right, center*/
    transform-origin: 50px 10px;
}