li{
    margin-bottom: 1rem;
}

li:nth-child(1){
    /*cursiva*/
    font-style: italic;
}
li:nth-child(2){
    /*negrita*/
    font-weight: bold;
    font-weight: 700;
}

li:nth-child(3){
    /*negrita*/
    font-weight: bolder;
}
li:nth-child(4){
    /*cambiar mayuscula*/
    text-transform: capitalize;
}
li:nth-child(5){
    text-transform: uppercase;
}
li:nth-child(6){
    /*decoration*/
    text-decoration: overline;
}

li:nth-child(7){
    /*decoration*/
    text-decoration: overline dotted red 3px;
}
li:nth-child(8){
    /*decoratio*/
    text-decoration: underline wavy;
}


/*las propiedades abreviadas SOBREESCRIBE a las propiedades que incluyen*/
li:nth-child(9){
    
    text-decoration: red;
    text-decoration-line: underline;
}
li:nth-child(10){
    text-decoration-line: underline;
    text-decoration: red;
}

li:nth-child(11){
    /*alineacion de texto*/
    text-align: center;
}