div {
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
}
#nombre{
    background-color: blueviolet;
}
#rgb{
    /*colores de 0 a 255. 0 = apagado , 255 = a tope*/
    background: rgb(255, 113, 255);
}
#hex{  /*lo mismo que rgb pero en base hexagecimal*/
    background-color: #ff5fffff;

}
html{
    background: url("http://source.unsplash.com/random?wallpaper");
}
#rgba{ /*RGB con transparencia. el ultimo numero es transparente, 1 = opaco*/
    background-color: rgba(255, 153, 255, 0.5);
}
#hexa{    /*lo mismo que hexadecimal,pero con transparencia.en este caso si que va de 00 a ff*/
    background-color: #ff99ffaa;

}
