/* podemos añadir clases, y stylos sin estar en el html para despues añadirlo con javaScript */

.blue{
    color: blue;
    }
    
    .sans{
    font-family: sans-serif;
    }
    
    .big{
      font-size: 200%;
    }
    
    .subrayado{
      text-decoration: underline;
    }
    
    h1{
      color: green;
    }
    